{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Work Tracker</title>
    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Optional theme -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.css' %}">
    <link rel="stylesheet" href="{% static 'css/default.css' %}">

</head>
<body>
    {% include 'teamwork/navbar.html' %}

    <div class="row">
        <div class="col-md-3 ">
            <div id="datepicker"></div>
        </div>
        <div class="col-md-6 work-done" ng-app="worktogether">
            {% verbatim %}
            <ng-view></ng-view>
            {% endverbatim %}
        </div>
    </div>


    <!-- Latest compiled and minified JavaScript -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>

    <script src='{% static "js/js.cookie.js" %}'></script>
    <script src='{% static "js/moment-with-locales.min.js" %}'></script>
    <script src='{% static "js/moment-timezone-with-data.min.js" %}'></script>
    <script src='{% static "js/app.js" %}'></script>

    <script type="text/javascript">
        var STATICURL = "{% static '' %}";
        var WORKDAY_LISTURL = "{% url 'workday-list' '' %}";
        var TASK_CREATEURL = "{% url 'task-create' '' %}";
        var TASK_DETAILURL = "{% url 'task-detail' 0 %}";
        var TEAM_LISTURL = "{% url 'members-list' %}";
        var DATE = "{{ date|date:'Y-m-d' }}";
        var CURRENT_USER_ID = "{{current_member.id}}";
    </script>

    <script type="text/javascript">
        function initDatePicker() {
            moment().tz("America/Los_Angeles").format();
            $('#datepicker').datepicker({
                inline: true,
                sideBySide: true,
                viewDate: true,
                locale: 'in',
                format: "dd/mm/yyyy",
                todayHighlight: true,
            }).on('changeDate', function(e) {
                date = moment.tz(e.date, 'Asia/Kolkata');
                date_string = date._d.toJSON().slice(0,10);
                document.location.href = "#/"+date_string;
            });
        }

        $(function () {
            initDatePicker();
        });
    </script>
</body>

</html>
