{% verbatim %}
<div ng-controller="WorkController as wkCtrl" ng-cloak>
    <ul class="row">
        <h4>{{ wkCtrl.member.name | capitalize }}</h4>
        <div class="tasks">
            <li ng-repeat="task in wkCtrl.member.tasks|orderBy:'id'" ng-init="editing=false">
                <div ng-hide="editing">
                    <span>{{ task.task }}</span>
                    <a class="glyphicon glyphicon-pencil edit" id="edit{{ task.id }}" ng-click="editing=true" href="#"></a>
                    <a class="glyphicon glyphicon-trash delete" id="delete{{ task.id}}" ng-click="wkCtrl.deleteTask(task.id)" href="#"></a>
                </div>
                <form novalidate ng-show="editing">
                    <input type="text" ng-model="newtask" ng-init="newtask=task.task">
                    <a class="glyphicon glyphicon-ok" ng-click="editing = wkCtrl.updateTask(task.id, newtask)"></a>
                    <a class="glyphicon glyphicon-remove" ng-click="newtask=task.task; editing=false"></a>
                </form>
            </li>
            <li class="empty" ng-if="wkCtrl.member.tasks.length === 0">
                No updates for today.
            </li>

             <form novalidate class="task-add" ng-submit="wkCtrl.addTask()">
                <input type="text" class="task" name="task" placeholder="Enter your tasks here."/ ng-model="wkCtrl.newTask">
                <button type="submit" class="btn btn-sm btn-default">Post</button>
            </form>
        </div>
        <div ng-repeat="mem in wkCtrl.teamWork|orderBy:'name'">
            <h4>{{mem.name | capitalize}}</h4>
            <li ng-repeat="task in mem.tasks">
                <span>{{task.task}}</span>
            </li>
            <li class="empty" ng-if="mem.tasks.length === 0">
                No updates for today.
            </li>
        </div>
    </ul>
</div>
{% endverbatim %}
