{% for key, value in summary.items %}
    <form method="post" action="/">
        <ul class="row">
            <h4> {{ key.name }}</h4>
            {% if value %}
                {% for row in value %}
                    <li>
                        {% if row.task %}
                            {{ row.task }}
                            <a class="glyphicon glyphicon-pencil edit" id="edit{{ row.id }}" data-id="{{ row.id }}" href="#"></a>
                            <a class="glyphicon glyphicon-trash edit" id="delete{{ row.id}}" data-id="{{ row.id }}" href="#"></a>
                        {% else %}
                            No updates for today.
                        {% endif %}
                    </li>
                {% endfor %}
                <form method="post" >
                    <input type="text" placeholder="Enter your tasks here."/>
                </form>
            {% endif %}
        </ul>
    </form>
{% endfor %}